.question {
    border: 2px solid orange;
    border-radius: 15px;
    gap: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    background-color: burlywood;
}

.option {

    margin-left: 50px;
}